@model PaginacionRespuesta<Categoria>
@{
    ViewData["Title"] = "Categorías";
}

<h1>Categorías</h1>
<h5>Las categorías nos permiten indicar en qué gastamos nuestro dinero, también, de dónde provienen nuestros ingresos
</h5>

<a asp-action="Crear" class="btn btn-primary">Crear Nuevo</a>
<div class="row">
    <label>Cantidad de registros a mostrar</label>
    <div class="mb-3 col-auto">
        <select asp-for="@Model.RecordsPorPagina" id="cantidadRecordsPorPagina" class="form-select">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>

    </div>
</div>
<partial name="_Paginacion" model="@Model" />
<table class="table">
    <thead>
        <th>Acciones</th>
        <th>Nombre</th>
        <th>Tipo</th>
    </thead>
    <tbody>
        @foreach (var categoria in Model.Elementos)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@categoria.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@categoria.Id">Eliminar</a>
                </td>
                <td>@categoria.Nombre</td>
                <td>@categoria.TipoOperacionId.ToString()</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("#cantidadRecordsPorPagina").change(function () {
            const recordsPorPagina = $(this).val();
            location.href = `/Categorias/?pagina=1&recordsPorPagina=${recordsPorPagina}`;
        });
    </script>
}